<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVsFpLKRM7aXAtRbs8O0bRISk6FsgIS6k</string>
	<key>GCM_SENDER_ID</key>
	<string>81709068009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aeroencrypt</string>
	<key>PROJECT_ID</key>
	<string>aeroencrypt-73305</string>
	<key>STORAGE_BUCKET</key>
	<string>aeroencrypt-73305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81709068009:ios:c5176fd1ec1df96b340a78</string>
</dict>
</plist>